%hr
%ul.menubar
  %li= link_to("back",  members_battleships_path)
  -if battleship && owned_by(current_user, battleship)
    %li= link_to image_tag("icon_small_edit.png", :border => 0, :alt => "Edit")+"Edit", edit_members_battleship_path(battleship), :title => "Edit #{battleship.name}"
    %li= link_to image_tag("icon_small_delete.png", :border => 0, :alt => "Delete")+"Delete", [:members, battleship], :method => "Delete", :title => "Delete #{battleship.name}"
  -if current_user
    %li{:id => "star#{battleship.id}"}= render :partial => 'members/battleships/star_column', :locals => {:battleship => battleship}


