= render :partial => 'battle_ship_bar'
%h2 All Battleships
%p
  = will_paginate @battleships
  %br
  = "#{@battleships.size} battleships as of #{Time.now.to_s(:short_date)}"
  %table 
    - @battleships.each do |battleship|
      %tr
        %td= image_tag(battleship.image)
        %td
          = link_to battleship_path
          = "owned by #{battleship.user.full_name} (#{battleship.cost} ArmadaBucks)"
          %br
          = battleship.description
  = page_entries_info @battleships

        
