= render :partial => 'members/battleships/battle_ship_bar'
%h2 All Battleships
%userbar
  =new_link(@current_user)
%p
  = will_paginate @battleships
  %br
  = "#{@battleships.size} battleships as of #{Time.now.to_s(:short_date)}"
  %table 
    - @battleships.each do |battleship|
      %tr
        %td= image_tag(battleship.image.url)
        %td
          = link_to battleship.name, [:members, battleship]
          = "owned by #{battleship.user.full_name} (#{battleship.cost} ArmadaBucks)"
          %br
          = truncate(battleship.description)
        %td= link_to image_tag("icon_small_info.png", :border => 0, :alt => "Show"), [:members, battleship], :title => "Show #{battleship.name}"
        -if owned_by(current_user, battleship)
          %td= link_to image_tag("icon_small_edit.png", :border => 0, :alt => "Edit"), edit_members_battleship_path(battleship), :title => "Edit #{battleship.name}"
          %td= link_to image_tag("icon_small_delete.png", :border => 0, :alt => "Delete"), [:members, battleship], :method => "Delete", :title => "Delete #{battleship.name}"
  = page_entries_info @battleships

        
