%h2 All Battleships
%p
  = will_paginate @battleships
  = page_entries_info @battleships
  %table 
    - @battleships.each do |battleship|
      %tr
        %td= 'placeholder for image'
        %td
          = "#{battleship.name} owned by #{battleship.user.full_name} cost:#{battleship.cost}"
          %br
          = battleship.description

        
